#main-navbar{
	background-color: blue;
	width: 100%;
	float: left;
}

#sidebar{
	position: fixed;
	background-color: red;
	right: 0%;
	height: 100%;
	width: 20%;
}

#sidebar-container ul{
	list-style-type: none;
}

#sidebar-container ul li{

}

#sidebar-container ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 15px 0;
	color: #fff;
}