#main-navbar{
	background-color: blue;
	float: left;
	position: relative;
}

#navbar-container{
	width: 100%;
	position: relative;
}

#navbar-container ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar-container ul li{
	float: left;
}

#navbar-container ul li a{
	color: #fff;
	padding: 10px 20px;
	text-deocration: none;
	display: block;
}

#navbar-container ul li a:hover{
	background-color: #000;
}

#onpage{
	text-decoration: underline overline;
}

#sidebar{
	position: fixed;
	background-color: red;
	right: 0%;
	height: 100%;
	width: 20%;
}

#sidebar-container ul{
	list-style-type: none;
	padding: 0;
}

#sidebar-container ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 15px 0;
	color: #fff;
}

#sidebar-container ul li a:hover{
	background-color: #000;
}